body {
    background-image: linear-gradient(to bottom, #f39c12, #f1c40f );
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#333;
    margin: 0;
    padding: 0;
}
p {
    color:white;
}
ol {
    color:white;    
}
header{
    padding: 20px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    background-image: url("/images/Desain tanpa judul.png");
    background-size: 100%;
    background-position: center;
    text-align: center;
}
header .overlay{
    position: absolute;
    padding: 20px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    background-size: 100%;
    background-position: center;
    text-align: center;
    z-index: 1;
}
header a{
    color:white;
    text-decoration: none;
    margin-top: 40px;
    
}
header .logo a {
    background-image: url("/images/logo_iom-removebg-preview.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    text-indent: -9999999px;
    position: relative;
    top: -30px;
    width: 150px;
    z-index: 2;
}
header h1 {
    font-size: 2.5rem;
    margin: -50px 0; /* Memberikan jarak antara logo dan judul */
    font-weight: bold;
    z-index: 2;
}


section {
    background: black;
    color: white;
}
h1{
    color: white;
}
footer {
    background: black;
    color: grey;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
}
div {
    background: grey;
    display: inline;}
h2 {
    color:aqua; 
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li0 {
    display: inline-block;
    margin-right: 20px;
}
li0 {
    display: inline-block;
    border-radius: 4px;
    padding: 3px;
    margin-left: 20px;
}
li0:first-child{
    margin-left: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li0:hover{
    background: none;
}


header .mobile{
    display: none;
}

@media screen and (max-width:450px) {
    header .mobile {
        display: inline-block;
    }  
    header .desktop {
        display: none;
    }    
}
.anime {
    position: absolute;
    top: 299px; /* Jarak dari atas */
    right: 20px; /* Jarak dari kanan */
    width: 300px; /* Ukuran gambar */
    height: auto;
    transform: scaleX(-1);
}
.anime2 {
    position: absolute;
    top: 294px; /* Jarak dari atas */
    right: 1000px; /* Jarak dari kanan */
    width: 300px; /* Ukuran gambar */
    height: auto;
    transform: scaleX(-1);
}
